header {
  grid-column: full;
  display: grid;
  padding: 2rem 2rem 0;
  width: 100vw;

  .nav-links {
    display: flex;
    & > :not(:last-child) {
      margin-right: 10px;
    }
  }

  a,
  .nav-link,
  .nav-link:visited,
  .header-title {
    font-family: $base-font;
    border: 0;
    color: $text-color-primary;
    text-decoration: none;

    &[data-current="current page"] {
      border-bottom: 1px solid $text-color-secondary;
    }
  }

  .nav-link:hover {
    color: $text-color-secondary;
  }

  @media screen and (min-width: $screen-sm-min) {
    grid-template-columns: 1fr auto;
    grid-column-gap: 1rem;
    float: right;
  }
}
