header {
  width: 100%;
  max-width: 52rem;
  grid-column: full;
  display: grid;
  margin: 2rem auto 2rem;

  .nav-links {
    display: flex;
    & > :not(:last-child) {
      margin-right: 10px;
    }
  }

  a,
  .nav-link,
  .nav-link:visited,
  .header-title {
    font-family: $base-font;
    border: 0;
    color: $black;
    text-decoration: none;
    padding-bottom: 0;
  }

  @media screen and (min-width: $screen-sm-min) {
    grid-template-columns: 1fr auto;
    grid-column-gap: 4rem;
    float: right;
  }
}
