li.article-preview {
  margin-bottom: 1rem;
  border-bottom: 0.05em solid $light-gray;
  p {
    padding-bottom: 0;
  }

  &:last-child {
    margin-bottom: 3rem;
  }
}

.article-title {
  a {
    text-decoration: none;
    border-bottom: 0.1em solid $blue;
  }
  a:hover {
    color: $blue;
    border: none;
  }
}
