.articles-list {

}

.article-preview {
  margin-bottom: 2rem;
  border-bottom: 0.05em solid $hairline-color;
  p {
    padding-bottom: 0;
  }

  &:last-child {
    margin-bottom: 3rem;
  }
}

.article-title {
  padding-bottom: 0.5rem;
}

.published-date {
  line-height: 1rem;
  font-style: italic;
}
