---
layout: default
---
{{ content }}
<section class="landing" style="margin-bottom: 2rem">
  <img style="margin-bottom: 1.2rem" src="https://via.placeholder.com/700px*300px"></img>
  <div style="padding: 1rem;">
    <p style="width: 100%;">Hi! I'm Josh, a Software Engineer from Australia. In a past life I was a Recruitment Consultant, mostly in Japan, and now I live with my wife and cats in Melbourne. I love to code, mostly in Ruby and Javascript, and when I'm not doing that I'm learning to play chess, making art, at the gym, or having brunch at a local cafe.</p>
  </div>
</section>
<section class="page-content">
  <h2>Articles</h2>
  <ul class="articles-list">
    {% for post in site.posts %}
    {% assign author = site.data.author[post.author] %}
    <li class="article-preview">
      <h5 class="article-title"><a href="{{ post.url }}">{{ post.title | upcase }}</a></h5>
      <time class="published-date" datetime="{{ post.date }}">
        <small>{{ post.date | date_to_string }}</small>
      </time>
      {{ post.excerpt | strip_newlines | truncate: 80 }}
    </li>
    {% endfor %}
  </ul>
</section>


