---
layout: default
---
{{ content }}
<section class="landing" style="margin-bottom: 4rem">
  <p>
    I'm Josh. I build software, make art, and read lots of sci-fi. Welcome to my little corner of the internet 👋
  </p>
  <p style="margin-bottom: 0.5rem">
    If you want to get in touch with me you can find me on <a href="https://www.twitter.com/joshteperman" target="_blank">Twitter</a> or judge my green tiles on <a href="https://www.github.com/joshteperman" target="_blank">GitHub</a>.
  </p>
  <a href="/now" class="inline-link">Learn more about me &rarr;</a>
</section>
<section class="page-content" style="display: flex; flex-direction: column">
  <div>
    <h4>Recent posts</h4>
    <ul>
      {% for post in site.posts %}
        {% if post.draft %}
          {% continue %}
        {% else %}
          <li style="margin-bottom: 1rem;">
            <a href="{{ post.url }}">
              <h6 class="highlighted" style="font-weight: bold; width: max-content;">{{ post.title }}</h6>
            </a>
            <small class="subtitle1">{{ post.date | date_to_string }}</small>
            {{ post.excerpt | strip_newlines | truncate: 100 }}
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>
  <span><a href="/writing" class="inline-link">See all posts &rarr;</a> </span>
</section>


