---
layout: default
---
{% assign current_projects = site.data.projects['current_projects'] %}
{% assign other_projects = site.data.projects['other_projects'] %}

{{ content }}

<h5>Things I'm currently working on</h5>
<ul>
  {% for project in current_projects %}
    <li>
      <a class="highlighted" style="font-weight: bold;" href="{{ project.url }}" target="_blank">{{ project.name }}</a>:
      {{ project.description }}
    </li>
  {% endfor %}
</ul>

<h5>Other projects</h5>
<ul>
  {% for project in other_projects %}
    <li>
      <a class="highlighted" style="font-weight: bold;" href="{{ project.url }}" target="_blank">{{ project.name }}</a>:
      {{ project.description }}
    </li>
  {% endfor %}
</ul>
